@using System.Globalization
@inject IJSRuntime JS
@inject NavigationManager Navigation

<p>
    <label>
        Select your locale:
        <select @bind="_selectedCulture" @bind:after="ApplySelectedCultureAsync">
            @foreach (var culture in _supportedCultures)
            {
                <option value="@culture">@culture.DisplayName</option>
            }
        </select>
    </label>
</p>

@code
{
    private readonly CultureInfo[] _supportedCultures =
    [
        new CultureInfo("en-US"),
        new CultureInfo("lt-LT")
    ];

    private CultureInfo? _selectedCulture;

    protected override void OnInitialized()
    {
        _selectedCulture = CultureInfo.CurrentCulture;
    }

    private async Task ApplySelectedCultureAsync()
    {
        if (!Equals(CultureInfo.CurrentCulture, _selectedCulture))
        {
            var uri = new Uri(Navigation.Uri)
                .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
            if (_selectedCulture != null)
            {
                var cultureEscaped = Uri.EscapeDataString(_selectedCulture.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                Navigation.NavigateTo(
                    $"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}",
                    forceLoad: true);
            }
        }
    }
}