@page "/"

@using Microsoft.EntityFrameworkCore
@using VikoSoft.Data
@implements IDisposable

@using VikoSoft.Components.Account.Shared



@inject IDbContextFactory<VikoDbContext> DbFactory
<PageTitle>Home</PageTitle>

<ExternalLoginPicker></ExternalLoginPicker>



<AuthorizeView>
    <Authorized>
        @* @if (Reports != null) *@
        @* { *@
        @*     @foreach (var item in Reports) *@
        @*     { *@
        @*         <p>@item.Title</p> *@
        @*     } *@
        @* } *@
        <h1>Hello, world!</h1>
    </Authorized>
    <NotAuthorized>
        <p>Please log in to view reports.</p>
    </NotAuthorized>
</AuthorizeView>


Welcome to your new Fluent Blazor app.



@code {


    private bool Busy = false;
    private VikoDbContext? Context { get; set; }

    // private ICollection<Report>? Reports { get; set; }

    
    //private Report? TempReport { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Busy = true;

        try
        {
            Context = await DbFactory.CreateDbContextAsync();

            //TempReport = new Report{Title = "Dėstytojo ataskaita"};
            //
            // Context.Reports.Add(TempReport);
            //
            // await Context.SaveChangesAsync();
            
            
            // if (Context?.Reports != null)
            // {
            //     Reports = await Context.Reports.ToListAsync();
            // }
        }
        finally
        {
            Busy = false;
        }

        await base.OnInitializedAsync();
    }
    
    public void Dispose()
    {
        Context?.Dispose();
    }
}